/*=============== LIGHT MODE ===============*/

body.light {
  background-color: #f2d0a9;
}

body.light ::placeholder {
  color: #333;
}

body.light ::selection {
  background-color: rgba(78, 76, 76, 0.3);
}

body.light header {
  background-color: #d88c9a;
}

body.light .theme_btn {
  background-color: #f2d0a9;
}

body.light #calculator_title,
body.light #currency_title,
body.light #converter_title,
body.light #contact_title {
  color: #333;
}

body.light nav {
  background-color: #d88c9a;
}

body.light nav::before {
  background-color: #f2d0a9;
}

body.light .nav_btn {
  background-color: #f2d0a9;
  color: #333;
}

body.light #container_calculator {
  background-color: #d88c9a;
}

body.light #value {
  border-bottom: solid 2px #333;
  color: #333;
}

body.light .touch {
  color: #333;
}

body.light #clear,
body.light #equal {
  color: #fff;
}

body.light #separation {
  background-color: #333;
}

body.light #currency_container {
  color: #333;
}

body.light #amount,
body.light #from,
body.light #to {
  background-color: #d88c9a;
  color: #333;
}

body.light select::-webkit-scrollbar-thumb {
  border: 3px solid #d88c9a;
  background-color: #f2d0a9;
}

body.light #converter_ref {
  color: #333;
}

body.light .converter_content {
  background-color: #d88c9a;
  color: #333;
}

body.light .converter_content input {
  background-color: #d88c9a;
  color: #333;
}

body.light #contact,
body.light #contact a {
  color: #333;
}

body.light #contact a:hover {
  color: #009dfe;
}

/*=============== FOREST MODE ===============*/

body.forest {
  background-color: #99c1b9;
}

body.forest header {
  background-color: #2e7125;
}

body.forest .theme_btn {
  background-color: #99c1b9;
}

body.forest nav {
  background-color: #2e7125;
}

body.forest nav::before {
  background-color: #99c1b9;
}

body.forest .nav_btn {
  background-color: #99c1b9;
}

body.forest #linkedin_btn,
body.forest #mail_btn {
  background-color: #99c1b9;
}

body.forest #container_calculator {
  background-color: #2e7125;
}

body.forest #amount,
body.forest #from,
body.forest #to {
  background-color: #2e7125;
}

body.forest select::-webkit-scrollbar-thumb {
  border: 3px solid #2e7125;
  background-color: #99c1b9;
}

body.forest .converter_content {
  background-color: #2e7125;
}

body.forest .converter_content input {
  background-color: #2e7125;
}
